body{
    background-image: url(bg8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{box-sizing:border-box;}
        body {
            background-color: #383434;
            color: #ffffff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120vh;
            flex-direction: column;
        }

   

        input {
            background-color: #444;
            color: #fff;
            border: 1px solid #666;
            padding: 8px 12px;
            margin: 4px;
            border-radius: 4px;
            width: 100%;
        }

        input[type="number"] {
            width: 100%;
        }

        label {
            display: block;
            margin: 10px 0;
        }

        p {
            font-size: 18px;
        }

        .container {
            background-color: #00000097;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 50%;
            margin: 20px auto;
            text-align: center;
        }

button {
    background-color: #fb080875; /* Deep blue color */
    color: #ffffff;
    padding: 8px 12px;
    margin: 4px;
    border-radius: 4px;
    width: 100%;
border:none;
cursor:pointer;
}

button:hover{
    background-color: #f2ff00cf; /* Darker blue on hover */
}
